<section class="give">
	<div class="container">
		<div class="give__wrap">
			<div class="girl">
				<img src="img/girl-2.png" alt="">
			</div>
			<div class="give__text">
				<h1 class="title text-bold">
					<span class="green nowrap">7 Slim</span> поможет легко достичь
					желаемых форм
				</h1>
				<p class="give__text--head"><span class="font-black">7 Slim</span> — для фигуры твоей мечты</p>
				<ul class="give__list">
					<li class="give__list--item">
						<div><span class="text-bold">Ускоряет</span> <br>
							метаболизм</div>
					</li>
					<li class="give__list--item">
						<div><span class="text-bold">Сжигает</span> <br>
							даже самый
							упрямый жир</div>
					</li>
					<li class="give__list--item">
						<div><span class="text-bold">Налаживает</span> <br>
							процесс
							пищеварения</div>
					</li>
				</ul>
				<p class="give__desc">Организм постепенно очищается от накопившихся шлаков и токсинов, активизируется обмен веществ, сжигаются лишние жиры.
					<br>Вы с каждым днем все с большим удовольствием смотрите на свое отражение! </p>
				<button class="form__btn give__btn ever-popup-btn">Заказать 7 Slim</button>
			</div>
		</div>
	</div>
</section>