<section class="rev block" id="rev">
  <div class="container">
    <h2 class="title">
      Отзывы людей,<br />
      которые уже похудели с <span class="green nowrap">7 Slim</span>
    </h2>
    <div class="rev-content">
      <div class="rev-top slider-rev">
        <div class="rev-top-item">
          <div class="rev-top__name">Ольга, <span class="nowrap">32 года</span></div>
          <div class="rev-top__city">г. Нижний Новгород</div>
        </div>
        <div class="rev-top-item">
          <div class="rev-top__name">Ангелина Витальевна, <span class="nowrap">50 лет</span></div>
          <div class="rev-top__city">г. Москва</div>
        </div>
        <div class="rev-top-item">
          <div class="rev-top__name">Вероника, <span class="nowrap">28 лет</span></div>
          <div class="rev-top__city">г. Казань</div>
        </div>
        <div class="rev-top-item">
          <div class="rev-top__name">Жанна, <span class="nowrap">47 лет</span></div>
          <div class="rev-top__city">г. Санкт-Петербург</div>
        </div>
        <div class="rev-top-item">
          <div class="rev-top__name">Карина, <span class="nowrap">35 лет</span></div>
          <div class="rev-top__city">г. Воронеж</div>
        </div>
        <div class="rev-top-item">
          <div class="rev-top__name">Ульяна, <span class="nowrap">40 лет</span></div>
          <div class="rev-top__city">г. Самара</div>
        </div>
        <div class="rev-top-item">
          <div class="rev-top__name">Алёнка, <span class="nowrap">25 лет</span></div>
          <div class="rev-top__city">г. Казань</div>
        </div>
        <div class="rev-top-item">
          <div class="rev-top__name">Елена, <span class="nowrap">49 лет</span></div>
          <div class="rev-top__city">г. Челябинск</div>
        </div>
        <div class="rev-top-item">
          <div class="rev-top__name">Татьяна, <span class="nowrap">63 года</span></div>
          <div class="rev-top__city">г. Уфа</div>
        </div>
        <div class="rev-top-item">
          <div class="rev-top__name">Полина, <span class="nowrap">33 года</span></div>
          <div class="rev-top__city">г. Красноярск</div>
        </div>
        <div class="rev-top-item">
          <div class="rev-top__name">Катя Носова, <span class="nowrap">29 лет</span></div>
          <div class="rev-top__city">г. Вологда</div>
        </div>
        <div class="rev-top-item">
          <div class="rev-top__name">Ольга, <span class="nowrap">45 лет</span></div>
          <div class="rev-top__city">г. Москва</div>
        </div>
      </div>

      <div class="rev-mid slider-rev">
        <div class="rev-mid-item">
          <div class="rev-mid__img">
            <img src="img/rev1.png" alt="avatar" />
          </div>
        </div>
        <div class="rev-mid-item">
          <div class="rev-mid__img">
            <img src="img/rev2.png" alt="avatar" />
          </div>
        </div>
        <div class="rev-mid-item">
          <div class="rev-mid__img">
            <img src="img/rev3.png" alt="avatar" />
          </div>
        </div>
        <div class="rev-mid-item">
          <div class="rev-mid__img">
            <img src="img/rev4.png" alt="avatar" />
          </div>
        </div>
        <div class="rev-mid-item">
          <div class="rev-mid__img">
            <img src="img/rev5.png" alt="avatar" />
          </div>
        </div>
        <div class="rev-mid-item">
          <div class="rev-mid__img">
            <img src="img/rev6.png" alt="avatar" />
          </div>
        </div>
        <div class="rev-mid-item">
          <div class="rev-mid__img">
            <img src="img/rev7.png" alt="avatar" />
          </div>
        </div>
        <div class="rev-mid-item">
          <div class="rev-mid__img">
            <img src="img/rev8.png" alt="avatar" />
          </div>
        </div>
        <div class="rev-mid-item">
          <div class="rev-mid__img">
            <img src="img/rev9.png" alt="avatar" />
          </div>
        </div>
        <div class="rev-mid-item">
          <div class="rev-mid__img">
            <img src="img/rev10.png" alt="avatar" />
          </div>
        </div>
        <div class="rev-mid-item">
          <div class="rev-mid__img">
            <img src="img/rev11.png" alt="avatar" />
          </div>
        </div>
        <div class="rev-mid-item">
          <div class="rev-mid__img">
            <img src="img/rev12.png" alt="avatar" />
          </div>
        </div>
      </div>

      <div class="rev-bottom slider-rev">
        <div class="rev-bottom-item">
          <p class="rev-bottom__text">
            7Слим — просто фантастический продукт. Особенно меня радует, что в
            нем нет стимуляторов (как во многих похудалках). Подавление аппетита
            реально работает, раньше я постоянно перекусывала чем-то вредным, а
            теперь даже не хочется.
          </p>
        </div>
    
        <div class="rev-bottom-item">
          <p class="rev-bottom__text">
            Добрый день. Хочу написать, что по моему мнению и мнению всех
            худеющих женщин моего офиса, <span class="nowrap">7 СЛИМ</span> - это средство будущего. Огромное
            спасибо за то, что вы сделали отличную скидку на заказ на четверых
            человек, за быструю доставку и подробную консультацию по телефону.
            Довольны у нас остались все!
          </p>
        </div>
     
        <div class="rev-bottom-item">
          <p class="rev-bottom__text">
            Иногда просто не могу удержаться, чтобы не съесть картошку фри.
            Раньше она моментально откладывалась у меня на попе и боках. Но
            благодаря 7 Слим я могу есть фри в безграничном количестве. Но я
            стараюсь не злоупотреблять этим:)) Мой результат — минус один размер
            за месяц! <span class="nowrap">И без</span> полного отказа от вредной картошечки фри!
          </p>
        </div>
     
        <div class="rev-bottom-item">
          <p class="rev-bottom__text">
            Я чувствую, что ампулки 7-слим работают. Ушло 3 кг, хотя на спорт я не ходила. Вот соберусь и авось смогу скоро влезть в платье своей молодости. Самими ампулами удобно пользоваться. Нужное количество средства уже отмерено, нужно только развести его в стакане с водой.
        
          </p>
        </div>

        <div class="rev-bottom-item">
          <p class="rev-bottom__text">
            Лично мне 7 Slim нравится. Я чувствую себя так, будто съела что-то
            калорийное и питательное, после того, как выпью смесь этого средства
            с водой. Мне нравится, что мой обмен веществ постепенно
            нормализуется и ко мне возвращается чувство легкости.
          </p>
        </div>
 
        <div class="rev-bottom-item">
          <p class="rev-bottom__text">
            Принимаю 7-Slim чуть больше недели, но уже вижу и чувствую разницу.
            Ушло вздутие живота и у меня появилось больше энергии. Я вообще
            критично отношусь к подобным продуктам, но этому средству удалось
            меня приятно удивить. Я определенно рекомендую его тем, кто хочет
            очистить организм от шлаков и похудеть, прикладывая минимум усилий.
          </p>
        </div>

        <div class="rev-bottom-item">
          <p class="rev-bottom__text">
            Такие интересные ампулы! Первый раз вообще подобное увидела,
            заказала больше из любопытства и чтоб подружкам показать. А то к
            таблеткам уже все привыкли. И неожиданно оказалось, что 7-Slim
            отлично работают. Разработчики оригиналы и молодцы! :)
          </p>
        </div>

        <div class="rev-bottom-item">
          <p class="rev-bottom__text">
            С наступлением менопаузы усиленно пытаюсь похудеть. Отказалась от
            хлеба и сладостей, но похудела только на 4 кг за полгода. После
            того, как начала принимать 7 Слим заметила, что постепенно начал
            уходить жир с попы, ног, боков. Вес уходит неспеша, но стабильно — я
            похудела за месяц с 56 размера до 54-го!
          </p>
        </div>
  
        <div class="rev-bottom-item">
          <p class="rev-bottom__text">
            До этого пробовала много различных средств, но только это помогло
            мне. Я несильно похудела, но одежда уже не так сильно обтягивает. В
            моем возрасте уже не так легко похудеть, поэтому рада этому
            результату. Посылку с ампулами получила в назначенное время.
            Вежливые ребята на телефонах работают.
          </p>
        </div>

        <div class="rev-bottom-item">
          <p class="rev-bottom__text">
            Пользуюсь 7 слим чуть около двух недель. Похудела на 5 кг, но больше
            ушли объемы. Раньше моя униформа на мне еле сходилась, а теперь
            сидит свободно. Это фантастика! Рекомендую его всем, кто хочет
            похудеть и начать носить одежду меньшего размера.
          </p>
        </div>

        <div class="rev-bottom-item">
          <p class="rev-bottom__text">
            Целлюлит уходит! А это была моя основная проблема. Ноги и попа
            становятся стройнее, я уже влезла в джинсы, которые два года не
            носила. Еще капельку в поясе передавливают, но я в них уже хоть
            дышать могу. И это всего 3 недели пью 7слим )) Планировала пройти
            два курса подряд, но может и одного хватит.
          </p>
        </div>
    
        <div class="rev-bottom-item">
          <p class="rev-bottom__text">
            Оставляю отзыв про 7 Слим, чтобы другие женщины знали, стоит ли его
            брать. Опасалась я заказывать через интернет, подружка подбила. Так
            вот, за месяц у меня ушло 8 см с талии, и что радует, грудь в
            размере практически не изменилась, всего на пару см меньше. Отлично
            себя чувствую, даже энергии больше стало. Так что везде сплошные
            плюсы. Могу рекомендовать.
          </p>
       
      </div>
		</div>
		<div class="rev-send-title">Использовали <span class="green">7 Slim</span>?<br>
				Поделитесь своим опытом и помогите другим сделать правильный выбор!</div>
				<div class="reviews__review">
						<input class="input__val input__val-1  form__main-input_name" type="text" placeholder="Имя, возраст">
						<div class="answer__input-wrapper">
								<input class="input__val input__text input__val-3" type="text" placeholder="Текст отзыва...">
								<div class="answer__plus">
										<img src="img/reviews-input.png" alt="Добавить отзыв" class="review__file-trigger">
										<input type="file" class="answer__file">
								</div>
						</div>

						<div class="form__btn form__main-button_reviews btn-review">
								Отправить 
						</div>
				</div>
  </div>
</section>

<div class="popup__review">
		<div class="review__inner">
				<span class="close"></span>
				<p class="review__title">Спасибо за отзыв. <br>Он отправлен на модерацию.</p>
				<p class="review__p">Нецензурная лексика или реклама будут удалены.</p>
		</div>
</div>
