<section class="comp block" id="comp">
	<div class="container">
				<h2 class="title">Натуральные ингредиенты <span class="green">7 Slim<br>
						безопасно</span> и без побочных эффектов<br> 
						способствуют похудению </h2>
						<div class="comp-content">
							<div class="comp-left">
								<div class="comp-left-box">
									<div class="comp-left-item">
									<div class="comp-left__name">Куркума</div>
									<div class="comp-left__do">Расщепляет жиры</div>
									<div class="comp-left__text">препятствует росту жировой ткани, ускоряет метаболизм</div>
								</div>
								<div class="comp-left__img"><img src="img/comp1.png" alt="component"></div>
							</div>
							<div class="comp-left-box">
									<div class="comp-left-item">
									<div class="comp-left__name">Ягоды годжи</div>
									<div class="comp-left__do">Сжигают жиры</div>
									<div class="comp-left__text">улучшают обмен веществ, помогают избавиться
											от целлюлита
											</div>
								</div>
								<div class="comp-left__img margin-add"><img src="img/comp2.png" alt="component"></div>
							</div>
							<div class="comp-left-box">
									<div class="comp-left-item">
									<div class="comp-left__name">Гарциния камбоджийская</div>
									<div class="comp-left__do">Стабилизирует<br>
											пищеварение</div>
									<div class="comp-left__text">нормализует аппетит, избавляет от лишнего жира</div>
								</div>
								<div class="comp-left__img"><img src="img/comp3.png" alt="component"></div>
							</div>
							</div>
							<div class="comp-pack"><img src="img/pack.png" alt="7 Slim"></div>
							<div class="comp-right">
									<div class="comp-right-box">
											<div class="comp-right__img"><img src="img/comp4.png" alt="component"></div>
										<div class="comp-right-item">
										<div class="comp-right__name">Спирулина</div>
										<div class="comp-right__do">Уменьшает чувство
												голода</div>
										<div class="comp-right__text">стабилизирует обмен веществ
											</div>
									</div>
								
								</div>
								<div class="comp-right-box">
										<div class="comp-right__img"><img src="img/comp5.png" alt="component"></div>
										<div class="comp-right-item">
										<div class="comp-right__name">Имбирь</div>
										<div class="comp-right__do">Устраняет шлаки
												и токсины</div>
										<div class="comp-right__text">не дает пище оседать
												в организме в виде жира
												
												
												</div>
									</div>
							
								</div>
								<div class="comp-right-box">
										<div class="comp-right__img margin-add"><img src="img/comp6.png" alt="component"></div>
										<div class="comp-right-item">
										<div class="comp-right__name">Зеленый чай</div>
										<div class="comp-right__do">Борется с проявлениями
												целлюлита</div>
										<div class="comp-right__text">помогает вывести жир, осевший в клетках	</div>
									</div>
								
								</div>
								</div>
						</div>
	</div>
</section>