<section class="usod block">
	<div class="container">
		<h1 class="title text-bold">Как принимать <span class="green">7 Slim</span></h1>
		<div class="usod__wrap">
			<div class="usod__wrap--item">
				<div class="usod__wrap--img">
					<img src="img/use-img1.png" alt="">
				</div>
				<div class="usod__wrap--text">
					<div class="usod__wrap--step">
						<span class="number green">1</span> Шаг
					</div>
					<p class="usod__wrap--desc">
						<span class="text-bold">Встряхнуть</span> ампулу
					</p>
				</div>
			</div>
			<div class="usod__wrap--item">
				<div class="usod__wrap--img">
					<img src="img/use-img2.png" alt="">
				</div>
				<div class="usod__wrap--text">
					<div class="usod__wrap--step">
						<span class="number green">2</span> Шаг
					</div>
					<p class="usod__wrap--desc">
						<span class="text-bold">Выпить </span> содержимое
						в чистом виде, или разбавив
						в стакане воды
					</p>
				</div>
			</div>
			<div class="usod__wrap--item">
				<div class="usod__wrap--img">
					<img src="img/use-img3.png" alt="">
				</div>
				<div class="usod__wrap--text">
					<div class="usod__wrap--step">
						<span class="number green">3</span> Шаг
					</div>
					<p class="usod__wrap--desc">
						<span class="text-bold">Применять</span> 1 раз в день
						натощак
					</p>
				</div>
			</div>
		</div>
	</div>
</section>