<header class="header">
	<div class="container">
		<div class="header-top">
			<div class="logo"><img src="img/logo.png" alt="7 Slim"></div>
			<div class="header-links">
				<div class="header-links__item"><a class="rev-link" href="#rev">Отзывы</a></div>
				<div class="header-links__item"><a class="comp-link" href="#comp">Состав</a></div>
			</div>
		</div>
		<div class="header-bottom">
			<div class="header-content">
				<div class="header-pack"><img src="img/pack.png" alt="7 Slim"></div>
				<div class="header-text">
					<h1 class="header-text__title">Избавьтесь<br>
						от лишнего веса<br>
						за <span class="green nowrap">30 дней</span></h1>
					<p class="header-text__subtitle"><b>7 Slim</b> — для фигуры твоей мечты</p>
					<ul class="header-list">
						<li class="header-list__item"><b>Сжигает лишний жир —</b><br>
							сантиметры уходят даже<br>
							в проблемных местах</li>
							<li class="header-list__item"><b>Ускоряет метаболизм —</b><br>
								еда быстрее перерабатывается<br>
								в энергию</li>
								<li class="header-list__item"><b>Налаживает пищеварение —</b><br>
									уменьшает аппетит и выводит<br>
									шлаки</li>
					</ul>
				</div>

				<div class="form" >
					<div class="form-bg">
						<div class="form-title">Успейте заказать<br> со скидкой<br> <span class="orange">до <span class="date-0">21.02.2019</span></span></div>
						<div class="price">
							<div class="price-old">
								<div class="price-old__title">Старая цена</div>
								<div class="price-old__count">
									<span class="x_price_previous">1999</span><span class="x_currency">руб</span><span class="star"></span>
								</div>
							</div>
							<div class="price-new">
								<div class="price-new__title">Новая цена</div>
								<div class="price-new__count">
									<span class="x_price_current">990</span><span class="x_currency">руб</span><span class="star">*</span>
								</div>
							</div>
						</div>
						<div class="form-packCount">Осталось упаковок<br>
							со скидкой: <span class="lastpack">15</span></div>
					</div>
					<form action="/submit" method="post" class="x_order_form form__cont">
						<div class="form__input-name"><input type="text" name="name" placeholder="Моё имя" required="" autocomplete="name"
							 class="form__input"></div>
						<div class="form__input-phone"><input type="tel" name="phone" placeholder="Мой телефон" required="" autocomplete="tel"
							 class="form__input"></div>
						<button type="submit" class="form__btn">Заказать <span class="form__btn_size">со
								скидкой<span></span></span></button>
					</form>
					<div class="info-price">* при заказе курса</div>
					<p class="form__bottom">Оплата после получения</p>
				</div>
		
			</div>
		</div>
	</div>
</header>