<section class="doct block" >
	<div class="container">
			<div class="doct-content">
				<div class="doct-content-img"><img src="img/doctor.png" alt="doctor"></div>
				<div class="doct-content-box">
					<div class="doct-content__spec">Врач-диетолог</div>
					<div class="doct-content__name">Елена Афанасьева,</div>
					<div class="doct-content__stage">Стаж работы: 11 лет</div>
					<div class="doct-content-boxyText">
					<p class="doct-content__text">Я много лет помогаю женщинам получить то тело и вес, <span class="nowrap">о котором</span> они мечтают. Ко мне часто приходят женщины, которые перепробовали все, но им ничего не помогло, <span class="nowrap">либо вес</span> постоянно возвращается.</p>
					<p class="doct-content__text">Я для них — последняя надежда, чтобы сохранить брак или выйти замуж. Раньше я советовала им записаться <span class="nowrap">в спортзал</span> и питаться по индивидуальной диете, которую мы вместе разрабатывали.</p>
					<p class="doct-content__text">Сегодня <b>я советую всем своим клиенткам средство <span class="nowrap">7 Slim</span></b>. Достаточно выпивать натощак в течение месяца одну ампулу в день, чтобы увидеть результат на весах. Обычно только <b><span class="nowrap">за одну</span> неделю уходит 1,5-3 кг.</b> 
					</p>
					<p class="doct-content__text"><b>Это идеальный темп для похудения.</b> Так вы и увидите результат, который вам точно понравится, и не устроите для организма стресс, после которого он захочет вернуть все жировые складочки на привычные места.</p>
					<p class="doct-content__text">Похудение с 7 Slim – оптимальный вариант.
					</p>
				</div>
					<div class="doct-content__sign"><img src="img/sign.png" alt="signature"></div>
				</div>
			</div>
	</div>
</section >