.reason{
  background: #fff;
  padding: 32px 0 65px;
  position: relative;
  &:after{
    background: url("../img/bg-line.png") center;
    content: '';
    display: block;
    position: absolute;
    height: 61px;
    width: 100%;
    bottom: -52px;
    transform: rotate(180deg);
    z-index: 1;
  }
  &__icon{
    background: #e03954;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 6px solid #fff;
    border-radius: 50%;
    width: 85px;
    height: 85px;
    align-self: center;
    margin: 0 auto 14px;
    box-shadow: 0 0 0 1px #e03954;
  }
  &__wrap{
    display: flex;
    justify-content: center;
    margin: 16px 0 62px;
    &--item{
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 44px 33px;
      width: 394px;
      background: url(../img/bgn-2.svg) no-repeat #fff;
      background-position: center;
      flex-shrink: 0;
    }
    .center{
        margin: 0 8px;
    }

  }
  &__arrow{
    background: url(../img/reason__hr.png) center no-repeat;
    height: 16px;
    width: 100%;
    background-size: contain;
  }
  &__desc{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px 0 0;
    width: 100%;
  }
  &__number{
    display: flex;
    align-items: center;
    &--pink{
      font-size: 40px;
      color: #e03954;
      font-weight: 900;
    }
    &--text{
      font-size: 18px;
      color: #444444;
      margin: 0 0 0 10px;
    }
  }
  &__head{
    font-size: 22px;
    color: #222222;
    font-weight: 700;
    text-align: center;
  }
  &__text{
    text-align: center;
    font-size: 18px;
    color: #444444;
    line-height: 26px;
    border-top: 1px solid rgba(224, 57, 84, 0.47058823529411764);
    padding: 18px 0 0;
    margin: 20px 0 0;
    position: relative;
    width: 100%;
    &:before{
      content: '';
      display: block;
      position: absolute;
      background: #e03954;
      width: 30px;
      height: 6px;
      left: 45%;
      top: -4px;
    }
  }
  &__decision{
    display: flex;
    justify-content: center;
    background: url("../img/reason__line.svg") center 62px no-repeat;
    &--item{
      display: flex;
      align-items: center;
      flex-direction: column;
      position: relative;
      width: 323px;
      margin: 26px 0 0;
      &:nth-child(2){
        margin: 0 77px;
      }
    }
    &--number{
      font-size: 48px;
      color: #e8eae5;
      font-weight: 900;
      margin: 0 0 -19px;
    }
    &--icon{
      background: #85c336;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 6px solid #fff;
      border-radius: 50%;
      width: 96px;
      height: 96px;
      align-self: center;
      box-shadow: 0 0 0 1px #85c336;
    }
    &--head{
      font-weight: 700;
      color: #000000;
      font-size: 22px;
      text-align: center;
      &:before{
        content: '';
        display: block;
        width: 30px;
        height: 5px;
        background: #fc8a1c;
        margin: 21px auto 11px;
      }
    }
    &--text{
      font-size: 18px;
      color: #444444;
      text-align: center;
      line-height: 26px;
      padding: 5px 13px;
      width: 100%;
    }
  }
  &__title{
    margin: 56px 0 37px;
  }
}

@media (max-width: 1189px) {
  .reason{
    &__wrap{
      margin: 16px 0 13px;
      &--item{
        background-size: cover;
        padding: 35px 21px;
        width: 317px;
        height: 466px;
      }
    }
    &__title{
      margin: 20px 0 17px;
    }
    &__text{
      padding: 9px 0 0;
      margin: 8px 0 0;
      font-size: 16px;
    }
    &__head {
      font-size: 20px;
    }
    &__desc{
      margin: 0;
    }
    &__decision{
      &--head{
        font-size: 19px;
      }
    }
  }
}

@media (max-width: 1023px) {
  .reason {
    &:after{
      display: none;
    }
    &__wrap {
      &--item {
        background: #ffffff;
        padding: 14px 10px;
        width: 228px;
        height: auto;
        box-shadow: 0 0 10px -2px rgba(134, 147, 162, 0.3215686274509804);
      }
    }
    &__text{
      line-height: 21px;
      &:before{
        left: 43%;
      }
    }
    &__head{
      height: 48px;
      display: flex;
      align-items: center;
      font-size: 18px;
    }
    &__number{
      &--pink{
        font-size: 32px;
      }
    }
    &__decision{
      background: none;
      &--item{
        margin: 10px;
        &:nth-child(2){
          margin: 10px;
        }
      }
    }
  }

}

@media (max-width: 767px){
  .reason {
    &__wrap {
      flex-direction: column;
      align-items: center;
      &--item {
        width: 450px;
        flex-direction: row;
        margin: 10px;
        img{
          width: 175px;
        }
      }
    }
    &__desc{
      text-align: left;
      margin: 0 0 0 10px;
      align-items: flex-start;
    }
    &__text{
      text-align: left;
    }
    &__head{
      height: auto;
      text-align: left;
    }
    &__decision{
      flex-direction: column;
      align-items: center;
      &--item{
        &:nth-child(2){
          margin: 10px 0;
        }
        width: 100%;
        max-width: 480px;
        margin: 10px 0;
      }
    }
  }
}

@media (max-width: 479px){
  .reason {
    &__wrap {
      &--item {
        width: 100%;
        flex-direction: column;
        align-items: center;
        margin: 10px;
      }
    }
    &__desc{
      text-align: center;
      margin: 0;
      align-items: flex-start;
    }
  }
}