.stat
	padding: 52px 0 90px
	&-subtitle
		color: #444444
		font-family: Roboto
		font-size: 24px
		font-weight: 400
		line-height: 30px
		text-align: center
		margin-top: 20px
		&-content
			margin-top: 57px
		&-graf
			width: 610px