<section class="stat block" >
	<div class="container">
			<h2 class="title"><span class="green">7 Slim</span> уверенно опережает<br>
				другие способы похудения</h2>
				<p class="stat-subtitle">В результатах исследования указаны средние результаты похудения <b> 2 058 женщин</b><br>
					в течение 30 дней</p>
					<div class="stat-content">
						<div class="stat-graf">
							<div class="stat-graf-top">
								<div class="stat-graf-nsp">Спорт</div>
								<div class="stat-graf-ndt">Диета</div>
								<div class="stat-graf-npack">7 Slim</div>
							</div>
							<div class="graf-box">
							<div class="stat-graf-kg">
								<span>7</span>
								<span>6</span>
								<span>5</span>
								<span>4</span>
								<span>3</span>
								<span>2</span>
								<span>1</span>
								<span>0</span>
							</div>
							<div class="stat-graf-ots">
								<div class="stat-graf-sp">2,3<br>kg</div>
								<div class="stat-graf-dt">2,5<br>kg</div>
								<div class="stat-graf-pack">6,1<br>kg</div>
							</div>
						</div>
							<div class="stat-graf-boxname">
								<span class="stat-graf-boxname__kg">кг</span>
								<span>Спорт</span>
								<span>Диета</span>
								<span>7 Slim</span>
							</div>
						</div>
						<div class="stat-order">
							<div class="stat-order__pack"><img src="img/pack.png" alt="7 Slim"></div>
						</div>
				</div>
	</div>
</section>